@page "/task"
@using National

<div class="bg-light" style="border-radius: 8px; height: 85vh">
    <div class="d-flex justify-content-between">
        <h3 class="m-3">Список задач</h3>
        <div class="col-4 row">
            <input class="form-label m-3 col-9" style="border-radius: 8px;" placeholder="Введите текст для поиска" />
            <button class="p-0 m-2 btn col-1" onclick="@ResetButton">
                <h4 class="bi m-0 bi-arrow-counterclockwise"></h4>
            </button>
        </div>
        
    </div>

    <div class="my-2 ">
        @if(MauiProgram.ListProblems != null)
        {
            @foreach (var item in MauiProgram.ListProblems)
            {
                var color = item.Status.ColoeHex;
                            
                <div class="mx-3 my-2 p-1" style="border: solid 1px #000; border-radius: 10px;">
                    <span class="m-1 text-secondary" style="font-weight:600">#@item.ShortTitle</span>

                    <span class="m-1 text-light" style="border-radius: 8px; background-color: @color">
                        <span class="m-2">@item.Status.Name</span>
                    </span>

                    <span class="m-1">@item.FullTitle</span>

                    <span class="d-flex align-self-center" style="float: right">
                        @if (@item.Deadline > DateTime.Now)
                        {
                            <span class="mx-2">@item.Deadline</span>
                        }
                        else
                        {
                            <span class="mx-2 text-danger">@item.Deadline</span>
                        }
                        <button class="d-flex border-0 bg-light text-info mx-2" style="font-weight:800"> > </button>
                    </span>
                </div>
            }
        }
    </div>

    <button class="border-0 m-2 bg-light" style="float: inline-end; color: orange;">
        <h2 class="bi bi-plus-circle-fill"></h2>
    </button>
</div>

@code{
    public void ResetButton(){
        StateHasChanged();
    }
}